#border { width:280px; border: 2px solid gray; padding: 7px; background-color: #BFFF00; -moz-border-radius: 15px; border-radius: 15px; }
body {
}
input[type="number"]
{
    width:25px

}
.odd {
  background-color: #7BA600;
}
#data {
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
}
#plates{
  width:150px;
}
#onerepmax{
  width:50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}